body {
  margin: 0;
  background: #100212;
  text-align: center;
  color: white;
  font-family: monospace;
  transform: skewY(-5deg);
  font-size: min(200%, 5vw);
}

.handwriting {
	font-family: 'Adzy Handwriting';
	transform: translateY(10%);
	display: inline-block;
	font-size: 120%;
}

h1 {
  color: transparent;
  -webkit-text-stroke: 0.05em white;
}

.frame {
	--radius: 2.25em;
  position: relative;
  margin: 2em auto;
  max-width: min(500px, 95vw);
  background-color: white;
  border: 5px solid;
  border-radius: var(--radius);
  box-sizing: border-box;
  animation: superpower 5s linear infinite;
}

.frame .handwriting {
	color: #100212;
	-webkit-text-stroke: 0.05em #100212;
}

.frame > * {
  border-radius: calc(var(--radius) - 5px); /* 1 canvas pixel's size minus border size */
}

.frame > p {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #100212;
	white-space: nowrap;
	font-weight: bold;
}

.frame > p > :last-child {
	font-size: 0.6em;
	font-weight: normal;
	margin: initial;
}

.frame > canvas {
  display: block;
  width: 100%;
  height: 100%;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

a, a:visited {
	color: white;
	transition: all .5s;
}
a:hover, a:active {
	color: red;
  animation: superpower 2s linear infinite;
}

@keyframes superpower {
  from {
    filter: hue-rotate(0deg) contrast(50%) brightness(130%) saturate(140%);
  }
  to {
    filter: hue-rotate(360deg) contrast(50%) brightness(130%) saturate(140%);
  }
}
