@font-face {
	font-family: 'Adzy Handwriting';
	src: url("AdzyHandwriting-Regular.ttf") format("ttf");
	src: url("AdzyHandwriting-Regular.otf") format("otf");
	src: url("adzyhandwriting-regular-webfont.woff") format("woff");
	src: url("adzyhandwriting-regular-webfont.woff2") format("woff2");
}
